---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .navbar .navbar-underline {
    border-style: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    clear: both;
    vertical-align: top;
  }
  .navbar .navbar-underline {
      border-style: solid;
      border-color: rgba(0,0,0,.1);
      border-width: 1px 1px 1px 1px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    clear: both;
    vertical-align: top;
  }
  .navbar .navbar-underline {
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    border-width: 1px 1px 1px 1px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    clear: both;
    vertical-align: top;
  }
  .navbar .navbar-underline {
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    border-width: 1px 1px 1px 1px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: right;
    clear: both;
    vertical-align: top;
  }
  .navbar .navbar-underline {
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    border-width: 1px 1px 1px 1px;
  }  
}

.navbar .navbar-collapse {
  text-align: center;
}

.collapsing {
  clear: both;
}

.navbar .nav-item {
	padding: 0px 20px 0px 20px
}

.container.header {
	text-align: center;
	padding-top: 10px;
}

.header img {
	width: 50%;
}

.navbar {
	text-align: center;
}

.centered {
  text-align: center;
}

a.btn.btn-social.btn-twitter,
a.btn.btn-social.btn-facebook,
a.btn.btn-social.btn-instagram {
  color: rgb(135, 133, 138);
}

a.btn.btn-social.btn-twitter:hover,
a.btn.btn-social.btn-facebook:hover,
a.btn.btn-social.btn-instagram:hover {
  color: rgb(0, 0, 0);
}

a.btn.btn-social.btn-twitter:active,
a.btn.btn-social.btn-facebook:active,
a.btn.btn-social.btn-instagram:active {
  color: rgb(23, 86, 169);
}

a.btn.btn-social.btn-twitter:visited,
a.btn.btn-social.btn-facebook:visited,
a.btn.btn-social.btn-instagram:visited {
  color: rgb(0, 0, 0);
}

.btn-social {
  color: rgb(135 ,133, 138);
}

.footer .btn-social a:visited {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}