language: ruby
install:
  - bundle install
  - npm install -g bower grunt
  - npm install
  - bower install
jobs:
  include:
    - stage: test
      script: bundle exec rake build
    - stage: deploy
      script: bundle exec rake deploy
stages:
  - test
  # - name: deploy
  #   if: branch = master
cache: bundler
env:
  global: 
  matrix:
    secure: YWbLz4C2sGeql9RqHdy4KHQV0MoiKwq/cDEcoACJ12vLcwNVyotWVKdFjxFo74Z55GnSLJla1nbubAON0DvpNhOYXPg4JoFV0ArSFfDz/5HuwqJ3kMdJPoSDPKZz7gs+2Dbsye/FI1Q0c3KvGg5+nXWrP1MpNEhlFFd3fwyMCRh0kxQSJnTtzbvSTk9rsyW+AqIPorYIrWcuJESc9TXNlwKFCez+tfNB2cQB+GOzb40DY5qiX9OiLY8QycgDxsGekgsZruQuTM62P5yY/zEPkNalCgIJdv0w8udncR/VVzhKXLra+Yy/A7IYqoStRgffvnY8C7ha9dbCUHUNshDZatm1s+k3AjC2rFtSwzMucrBB/8S5F6furTQie1Q9qH3vFQ3v72Gwq+luSkFexiLH+0dB3LdvVbvQa9LGkKJswZBaxU3SqkLjtDxSZnpWNikNQkBYANd5Yh36J8jpUA22h3zM4Mb0OoyijCI+3mYQ2hFxIyIcJaU3VrWjj6z+NwYc/wUon6UtPg0btZNaFZU/y4tEWNn+DpeFqcIh7W2rcSV8OJVIXgYM6M+4pDIO6guRnQ1yyhJpQlVavlG6OC4tsbYKTRIyDBXzQzonaLB9xANt8QVx/EHYXEtpZ6AXCMwM/+ZTbEcpSUX1z+fFiSHbUNMj2dWbivtEJl3qiHiTgN0=
