<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{site.title}}</title>

    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name='google-site-verification' content='H4UM-Jzx2Z4XqkOuGgcKhIQsX9Be7Xzo-iuuDlmMQiQ' />
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{ site.keywords }}">

    <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <script src="bower_components/modernizr/modernizr.js"></script>
    <style type="text/css">
      body {
        font-family: 'Open Sans', sans-serif;
      }
    </style>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->

    {% include google-analytics.html %}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{site.favicon_dir}}/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.favicon_dir}}/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.favicon_dir}}/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.favicon_dir}}/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{site.favicon_dir}}/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.favicon_dir}}/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{site.favicon_dir}}/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.favicon_dir}}/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{site.favicon_dir}}/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{site.favicon_dir}}/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{site.favicon_dir}}/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{site.favicon_dir}}/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{site.favicon_dir}}/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Edinburgh Dog Walking"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{site.favicon_dir}}/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{site.favicon_dir}}/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{site.favicon_dir}}/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{site.favicon_dir}}/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{site.favicon_dir}}/mstile-310x310.png" />
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div id="preload">
      <img src="assets/img/bcg_slide-1.jpg">
      <img src="assets/img/bcg_slide-2.jpg">
      <img src="assets/img/bcg_slide-3.jpg">
      <img src="assets/img/bcg_slide-4.jpg">
      <img src="assets/img/logo.png">
    </div>

    <main>
         
      <section id="slide-1" class="homeSlide">
        <div class="bcg" 
          data-center="background-position: 50% 0px;" 
          data-top-bottom="background-position: 50% -100px;" 
          data-anchor-target="#slide-1"
        >
          <div class="hsContainer">
          <div class="hsContent" data-center="bottom: 100px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 img">
            <img src="assets/img/logo.png">
          </div>
          </div>
        </div>
    </section>
        
    <section id="slide-2" class="homeSlide">
      <div class="bcg" 
        data-center="background-position: 50% 10px;" 
        data-top-bottom="background-position: 50% -100px;" 
        data-bottom-top="background-position: 50% 100px;" 
        data-anchor-target="#slide-2"
      >
          <div class="hsContainer">
            <div class="hsContent" 
              
              data--100-bottom="opacity: 1;"
              data-400-top="opacity: 1;" 
              data-center-top="opacity: 0" 
              data--200-bottom="opacity: 0;"
              data-anchor-target="#slide-2"
            >
              <h2>Dog Walking and Pet Services</h2>
            </div>
          </div>
      </div>
    </section>
      

    <!-- data--100-bottom="opacity: 1;" data--200-bottom="opacity: 0;"  -->
    <section id="slide-3" class="homeSlide">
      <div class="bcg" 
        data-center="background-position: 50% 0px;" 
        data-top-bottom="background-position: 50% -100px;" 
        data-bottom-top="background-position: 50% 100px;" 
        data-anchor-target="#slide-3"
      >
          <div class="hsContainer">
          <div class="hsContent" 
            data--50-bottom="opacity: 0;" 
            data--200-bottom="opacity: 1;" 
            data-center="opacity: 1" 
            data-200-top="opacity: 0" 
            data-anchor-target="#slide-3 h2"
          >
              <h2>A family business located in the north of Edinburgh</h2>
            </div>
          </div>
          
        </div>
    </section>
    
    <section id="slide-4" class="homeSlide">
      <div class="bcg" 
        data-center="background-position: 50% 0px;" 
        data-top-bottom="background-position: 50% -100px;" 
        data-bottom-top="background-position: 50% 100px;" 
        data-anchor-target="#slide-4"
      >
          <div class="hsContainer">
          <div class="hsContent" 
            data-bottom-top="opacity: 0" 
            data-25p-top="opacity: 0" 
            data-top="opacity: 1"  
            data-anchor-target="#slide-4"
          >
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
    </section>
        
    </main>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="3rdparty/js/jquery.min.js"><\/script>')</script>
        <script src="3rdparty/js/EventEmitter.js"></script>
        <script src="3rdparty/js/eventie.js"></script>
        <script src="3rdparty/js/imagesloaded.js"></script>
        <script src="3rdparty/js/enquire.min.js"></script>
        <script src="3rdparty/js/skrollr.js"></script>
        <script src="js/main.js"></script>
  </body>
</html>
