<!DOCTYPE html>
<html lang='en' style='height: 100%'>
  <head>
    <title>Dog Walking - Boarding - Pet Services - Edinburgh | Edinburgh.dog</title>

    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta name='google-site-verification' content='H4UM-Jzx2Z4XqkOuGgcKhIQsX9Be7Xzo-iuuDlmMQiQ' />
    <meta name="description" content="Edinburgh Dog Walking and Pet Services is a local family business providing care to your dogs and other pets.">
    <meta name="keywords" content="Edinburgh, Dog, Walking, Pet, Pet Services, Dog Walking, Dog Boarding, Daycare, Day Care, Dog Daycare">
    
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css' integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi' crossorigin='anonymous'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js' integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK' crossorigin='anonymous'></script>
    
    <link href='/css/main.css' media='screen' rel='stylesheet' type='text/css' />
    
    {% include google-analytics.html %}}

  </head>
  <body style='height: 100%'>

    {% include navigation.md %}
    {{ content }}
    {% include footer.md %}

  </body>
</html>
