<!DOCTYPE html>
<html lang='en' style='height: 100%'>
  <head>
    <title>Dog Walking - Boarding - Pet Services - Edinburgh | Edinburgh.dog</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name='google-site-verification' content='H4UM-Jzx2Z4XqkOuGgcKhIQsX9Be7Xzo-iuuDlmMQiQ' />
    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{ site.keywords }}">
    
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    
    <link href='/css/main.css' media='screen' rel='stylesheet' type='text/css' />
    <link href='/css/footer.css' media='screen' rel='stylesheet' type='text/css' />
    
    {% include google-analytics.html %}

  </head>
  <body style='height: 100%'>
    {% include header.html %}
    {% include navigation.md %}
    
    <div class="container">
        {{ content }}
    </div>
    
    {% include footer.md %}
    
    <script src="/vendor/js/jquery.min.js"></script>
    <script src="/vendor/js/tether.min.js"></script>
    <script src="/vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src=/js/scripts.js></script>
  </body>
</html>
